<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Session Test</title>
</head>
<body>
<form action="/login.do" method="POST">
    id : <input type="text" id="id" name="id">
    <input type="submit" value="login">
</form>
</body>
</html>